/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Actor mini img */
.actor-mini {
  position: absolute;
  top: -20px;
  left: -5px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-family: Calibri, Tahoma, sans-serif;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  font-family: Calibri, Tahoma, sans-serif;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-family: Calibri, Tahoma, sans-serif;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Calibri, Tahoma, sans-serif;
}

.version {
  position: absolute;
  top: 10px;
  left: 10px;
  color: black;
  font-family: Tahoma, sans-serif;
  z-index: 900000;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

a {
  background: white;
  padding: 1px;
  font-family: Tahoma, sans-serif;
  color: black;
  text-decoration: none;
}

p {
  background: #333333;
  color: #ffffff;
  margin: 1px;
  font-family: Tahoma, sans-serif;
}

.p1 {
  background: #4f4f4f;
  color: #ffffff;
  margin: 0px;
  font-family: Tahoma, sans-serif;
}

img.disabled {
  opacity: 0.5;
}

img.clickable {
  cursor: pointer;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -1px) rotate(0deg); }
  20% { transform: translate(1px, 1px) rotate(0deg); }
  30% { transform: translate(-1px, -1px) rotate(0deg); }
  40% { transform: translate(1px, 1px) rotate(0deg); }
  50% { transform: translate(-1px, -1px) rotate(0deg); }
  60% { transform: translate(1px, 1px) rotate(0deg); }
  70% { transform: translate(-1px, -1px) rotate(0deg); }
  80% { transform: translate(1px, 1px) rotate(0deg); }
  90% { transform: translate(-1px, -1px) rotate(0deg); }
  100% { transform: translate(1px, 1px) rotate(0deg); }
}

table, th, td {
  border: 0px solid black;
  border-collapse: collapse;
  padding: 0px;
  border-spacing: 0px;
}

h3 {
  background: #4a4a4a;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

ul {
  background: #4a4a4a;
  padding-right: 18px;
  padding-left: 18px;
  padding-top: 0px;
  padding-bottom: 2px;
  list-style-type: square;
  text-shadow: 1px 1px #ff0000;
}

ul li {
  background: #333333;
  color: #ffffff;
  margin: 5px;
  font-family: Tahoma, sans-serif;
  cursor: pointer;
}
